body {
    font-family: avenirblack, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
    color: #5a5a5a;
}

#upload {
    color: #fff;
    background-color: #999999;
    border-color: #929292;

    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
